// 主色 重点标识
$cmain: #FF7747;
// 辅助色 警告
$cnotice: #f23c3c;
// 辅助色 警示
$cwarning:#e6267b;
// 辅助色 安全
$csafe: #072a3b;
// 辅助色 慎重
$ccareful: #ff9b51;
// 文字主色 标题内容 图标
$cfmain: #3A3A3E;
// 文字辅色 说明 图标
$cfassist: #797a8a;
// 文字辅色 提示
$cfhint: #b8b9cd;
// 白色背景色
$cbwhite: #fff;
// 灰色背景色
$cbgrey: #eceff5;
// 分割线用色
$ccut: #e2e4e7;
